*{
  margin: 0;
  
}

.Container{
  background-color: #ffffff;
  
}

.Container-header{
  margin-bottom: 15vh;
}

.Header p, .tagDesc{
  text-align: left;
  padding-left: 30vh;
  
}

.Header p{
  margin-top: 30vh;
  margin-bottom: 2vh;
  font-size: 15px;
}

.tagDesc{
  font-size: 35px;
  margin-bottom: 5vh;
}

.Buttons{
  display: flex;
  justify-content:left;
  align-items: center;
  height: 100px;
  padding-left: 30vh;
}

.card{
  align-self: center;
}

.content {
  padding: 40px 0;
  text-align: center;
}

.content-header {
  padding-top: 10vh;
  padding-bottom: 30px;
  padding-left: 30px;
}

.feature {
  background-color: #fff; /* Change background color as needed */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20vh;
  margin-left: 10px; /* Add left margin */
  margin-right: 10px; /* Add right margin */
}
.feature h5 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333; /* Change text color as needed */
}

.feature p {
  font-size: 16px;
  color: #555; /* Change text color as needed */
}

.learn-more-text {
   padding-top:0;
  padding-bottom: 30px;
  padding-left: 30px; /* Change text color as needed */
}

@media only screen and (max-width: 768px){

	/* Tagline Responsive */
  .Header p, .tagDesc, .Buttons{
    padding-left: 10vh;
  }
  .Header p{
    margin-top: 20vh;
  }
  
}

@media only screen and (max-width: 450px){
	.Header p, .tagDesc, .Buttons{
    padding-left: 8vh;
  }

  .Header p{
    font-size: 10px;
  }

  .tagDesc{
    font-size: 20px;
  }

  .Buttons{
    font-size: 10px;
   height: 50px;
  }
}
