/* style/button.css */
.Buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/* Style for Learn More button */
.MuiButton-containedPrimary {
  background-color: #0074b8; /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
}

/* Style for Download App button */
.MuiButton-containedPrimary.secondary {
  background-color: #ff5722; /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
}

/* Add more CSS rules as needed to further customize the buttons */
